In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir('/content/drive/MyDrive/ADT_Project')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/ADT_Project/cleanfinal_data.csv'
df = pd.read_csv(file_path)

display(df.head())

,InventoryId,Store,City,Brand,Product Name,Size,VendorNumber,VendorName,InvoiceDate,PurchasePrice,Quantity,Price
0,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021,Clayhouse Syrah Paso Robles,750mL,4425,MARTIGNETTI COMPANIES,29-05-2016,7.89,12,94.68
1,1_HARDERSFIELD_10030,1,HARDERSFIELD,10030,Pacifico Sur Pnt Nr Rsv,750mL,90017,THE IMPORTED GRAPE LLC,16-02-2016,5.19,12,62.28
2,1_HARDERSFIELD_1005,1,HARDERSFIELD,1005,Maker's Mark Combo Pack,375mL 2 Pk,12546,JIM BEAM BRANDS COMPANY,06-01-2016,27.34,6,164.04
3,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058,F Coppola Dmd Ivry Cab Svgn,750mL,2000,SOUTHERN WINE & SPIRITS NE,05-01-2016,9.26,12,111.12
4,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058,F Coppola Dmd Ivry Cab Svgn,750mL,2000,SOUTHERN WINE & SPIRITS NE,02-02-2016,9.26,12,111.12

In [ ]:
print("\nChecking for duplicate rows:")
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Checking for duplicate rows:
Number of duplicate rows: 0

In [ ]:
print("\nChecking for missing values per column:")
missing_values = df.isnull().sum()
missing_percentage = (df.isnull().sum() / len(df)) * 100

display(missing_values[missing_values > 0].sort_values(ascending=False))
print("\nPercentage of missing values per column:")
display(missing_percentage[missing_percentage > 0].sort_values(ascending=False))

Checking for missing values per column:

Series([], dtype: int64)

Percentage of missing values per column:

Series([], dtype: float64)

In [ ]:
print("Converting InvoiceDate to ISO format...")
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], dayfirst=True).dt.strftime('%Y-%m-%d')

Converting InvoiceDate to ISO format...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671635 entries, 0 to 671634
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InventoryId    671635 non-null  object
 1   Store          671635 non-null  int64
 2   City           671635 non-null  object
 3   Brand          671635 non-null  int64
 4   Product Name   671635 non-null  object
 5   Size           671635 non-null  object
 6   VendorNumber   671635 non-null  int64
 7   VendorName     671635 non-null  object
 8   InvoiceDate    671635 non-null  object
 9   PurchasePrice  671635 non-null  float64
 10  Quantity       671635 non-null  int64
 11  Price          671635 non-null  float64
dtypes: float64(2), int64(4), object(6)
memory usage: 61.5+ MB

In [ ]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str)

print("Data types after converting object columns to string:")
df.info()

Data types after converting object columns to string:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671635 entries, 0 to 671634
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InventoryId    671635 non-null  object
 1   Store          671635 non-null  int64
 2   City           671635 non-null  object
 3   Brand          671635 non-null  int64
 4   Product Name   671635 non-null  object
 5   Size           671635 non-null  object
 6   VendorNumber   671635 non-null  int64
 7   VendorName     671635 non-null  object
 8   InvoiceDate    671635 non-null  object
 9   PurchasePrice  671635 non-null  float64
 10  Quantity       671635 non-null  int64
 11  Price          671635 non-null  float64
dtypes: float64(2), int64(4), object(6)
memory usage: 61.5+ MB

In [ ]:
df

,InventoryId,Store,City,Brand,Product Name,Size,VendorNumber,VendorName,InvoiceDate,PurchasePrice,Quantity,Price
0,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021,Clayhouse Syrah Paso Robles,750mL,4425,MARTIGNETTI COMPANIES,2016-05-29,7.89,12,94.68
1,1_HARDERSFIELD_10030,1,HARDERSFIELD,10030,Pacifico Sur Pnt Nr Rsv,750mL,90017,THE IMPORTED GRAPE LLC,2016-02-16,5.19,12,62.28
2,1_HARDERSFIELD_1005,1,HARDERSFIELD,1005,Maker's Mark Combo Pack,375mL 2 Pk,12546,JIM BEAM BRANDS COMPANY,2016-01-06,27.34,6,164.04
3,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058,F Coppola Dmd Ivry Cab Svgn,750mL,2000,SOUTHERN WINE & SPIRITS NE,2016-01-05,9.26,12,111.12
4,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058,F Coppola Dmd Ivry Cab Svgn,750mL,2000,SOUTHERN WINE & SPIRITS NE,2016-02-02,9.26,12,111.12
...,...,...,...,...,...,...,...,...,...,...,...,...
671630,63_SWORDBREAK_1174,63,SWORDBREAK,1174,Rebel Yell,1.75L,8352,LUXCO INC,2016-03-27,15.87,11,174.57
671631,63_SWORDBREAK_1174,63,SWORDBREAK,1174,Rebel Yell,1.75L,8352,LUXCO INC,2016-04-12,15.87,6,95.22
671632,63_SWORDBREAK_1174,63,SWORDBREAK,1174,Rebel Yell,1.75L,8352,LUXCO INC,2016-05-04,15.87,5,79.35
671633,63_SWORDBREAK_1174,63,SWORDBREAK,1174,Rebel Yell,1.75L,8352,LUXCO INC,2016-05-29,15.87,6,95.22
671634,63_SWORDBREAK_1174,63,SWORDBREAK,1174,Rebel Yell,1.75L,8352,LUXCO INC,2016-06-28,15.87,6,95.22

In [ ]:
import sqlite3
from pathlib import Path

In [ ]:
DB_PATH = os.path.join(os.getcwd(), "inventory.db")

In [ ]:
db_file = Path(DB_PATH)

In [ ]:
print(f"Creating/using SQLite DB at: {db_file.resolve()}")
conn = sqlite3.connect(db_file)
conn.execute("PRAGMA foreign_keys = ON;")
cur = conn.cursor()

Creating/using SQLite DB at: /content/drive/MyDrive/ADT_Project/inventory.db

In [ ]:
print("Writing RawTransactions (staging table)...")

# Explicit SQLite column types
dtype_map = {
    "InventoryId":   "TEXT",
    "Store":         "INTEGER",
    "City":          "TEXT",
    "Brand":         "INTEGER",
    "ProductName":   "TEXT", # Mismatch with 'Product Name' in DataFrame
    "Size":          "TEXT",
    "VendorNumber":  "INTEGER",
    "VendorName":    "TEXT",
    "InvoiceDate":   "DATE",     # store dates as TEXT (YYYY-MM-DD)
    "PurchasePrice": "NUMERIC",
    "Quantity":      "INTEGER",
    "Price":         "NUMERIC",
}

Writing RawTransactions (staging table)...

In [ ]:
df.to_sql(
    "RawTransactions",
    conn,
    if_exists="replace",
    index=False,
    dtype=dtype_map
)

print("RawTransactions loaded:", len(df), "rows")

RawTransactions loaded: 671635 rows

In [ ]:
cur.execute("SELECT COUNT(*) FROM RawTransactions;")
row_count = cur.fetchone()[0]
print(f"Number of rows in RawTransactions: {row_count}")

Number of rows in RawTransactions: 671635

In [ ]:
cur.execute("SELECT * FROM RawTransactions LIMIT 10;")
rows = cur.fetchall()

# Print column names for better readability
column_names = [description[0] for description in cur.description]
print(column_names)

for row in rows:
    print(row)

['InventoryId', 'Store', 'City', 'Brand', 'Product Name', 'Size', 'VendorNumber', 'VendorName', 'InvoiceDate', 'PurchasePrice', 'Quantity', 'Price']
('1_HARDERSFIELD_10021', 1, 'HARDERSFIELD', 10021, 'Clayhouse Syrah Paso Robles', '750mL', 4425, 'MARTIGNETTI COMPANIES', '2016-05-29', 7.89, 12, 94.68)
('1_HARDERSFIELD_10030', 1, 'HARDERSFIELD', 10030, 'Pacifico Sur Pnt Nr Rsv', '750mL', 90017, 'THE IMPORTED GRAPE LLC     ', '2016-02-16', 5.19, 12, 62.28)
('1_HARDERSFIELD_1005', 1, 'HARDERSFIELD', 1005, "Maker's Mark Combo Pack", '375mL 2 Pk', 12546, 'JIM BEAM BRANDS COMPANY    ', '2016-01-06', 27.34, 6, 164.04)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE ', '2016-01-05', 9.26, 12, 111.12)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE ', '2016-02-02', 9.26, 12, 111.12)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE ', '2016-02-10', 9.26, 86, 796.36)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE ', '2016-02-19', 9.26, 11, 101.86)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE ', '2016-02-19', 9.26, 8, 74.08)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE ', '2016-02-19', 9.26, 12, 111.12)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE ', '2016-03-01', 9.26, 8, 74.08)

In [ ]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].str.strip()

print("Spaces removed from string columns. Displaying head of DataFrame:")
display(df.head())

Spaces removed from string columns. Displaying head of DataFrame:

,InventoryId,Store,City,Brand,Product Name,Size,VendorNumber,VendorName,InvoiceDate,PurchasePrice,Quantity,Price
0,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021,Clayhouse Syrah Paso Robles,750mL,4425,MARTIGNETTI COMPANIES,2016-05-29,7.89,12,94.68
1,1_HARDERSFIELD_10030,1,HARDERSFIELD,10030,Pacifico Sur Pnt Nr Rsv,750mL,90017,THE IMPORTED GRAPE LLC,2016-02-16,5.19,12,62.28
2,1_HARDERSFIELD_1005,1,HARDERSFIELD,1005,Maker's Mark Combo Pack,375mL 2 Pk,12546,JIM BEAM BRANDS COMPANY,2016-01-06,27.34,6,164.04
3,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058,F Coppola Dmd Ivry Cab Svgn,750mL,2000,SOUTHERN WINE & SPIRITS NE,2016-01-05,9.26,12,111.12
4,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058,F Coppola Dmd Ivry Cab Svgn,750mL,2000,SOUTHERN WINE & SPIRITS NE,2016-02-02,9.26,12,111.12

In [ ]:
print("Table is in 1NF table (T_1NF)...")

Table is in 1NF table (T_1NF)...

In [ ]:
cur.executescript("""
DROP TABLE IF EXISTS T_1NF;

CREATE TABLE T_1NF (
    InventoryId    TEXT,
    Store          INTEGER,
    City           TEXT,
    Brand          INTEGER,
    ProductName    TEXT,
    Size           TEXT,
    VendorNumber   INTEGER,
    VendorName     TEXT,
    InvoiceDate    DATE,       -- 'YYYY-MM-DD'
    PurchasePrice  NUMERIC,
    Quantity       INTEGER,
    Price          NUMERIC
);

INSERT INTO T_1NF
SELECT
    InventoryId,
    Store,
    City,
    Brand,
    "Product Name" AS ProductName,
    Size,
    VendorNumber,
    VendorName,
    InvoiceDate,
    PurchasePrice,
    Quantity,
    Price
FROM RawTransactions;

-- Trim spaces from VendorName in T_1NF
UPDATE T_1NF
SET VendorName = TRIM(VendorName);
"""
)
conn.commit()
print("T_1NF created (same rows as RawTransactions, but explicitly typed) and VendorName trimmed.")

T_1NF created (same rows as RawTransactions, but explicitly typed) and VendorName trimmed.

In [ ]:
cur.execute("SELECT * FROM T_1NF LIMIT 10;")
rows = cur.fetchall()

# Print column names for better readability
column_names = [description[0] for description in cur.description]
print(column_names)

for row in rows:
    print(row)

['InventoryId', 'Store', 'City', 'Brand', 'ProductName', 'Size', 'VendorNumber', 'VendorName', 'InvoiceDate', 'PurchasePrice', 'Quantity', 'Price']
('1_HARDERSFIELD_10021', 1, 'HARDERSFIELD', 10021, 'Clayhouse Syrah Paso Robles', '750mL', 4425, 'MARTIGNETTI COMPANIES', '2016-05-29', 7.89, 12, 94.68)
('1_HARDERSFIELD_10030', 1, 'HARDERSFIELD', 10030, 'Pacifico Sur Pnt Nr Rsv', '750mL', 90017, 'THE IMPORTED GRAPE LLC', '2016-02-16', 5.19, 12, 62.28)
('1_HARDERSFIELD_1005', 1, 'HARDERSFIELD', 1005, "Maker's Mark Combo Pack", '375mL 2 Pk', 12546, 'JIM BEAM BRANDS COMPANY', '2016-01-06', 27.34, 6, 164.04)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE', '2016-01-05', 9.26, 12, 111.12)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE', '2016-02-02', 9.26, 12, 111.12)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE', '2016-02-10', 9.26, 86, 796.36)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE', '2016-02-19', 9.26, 11, 101.86)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE', '2016-02-19', 9.26, 8, 74.08)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE', '2016-02-19', 9.26, 12, 111.12)
('1_HARDERSFIELD_10058', 1, 'HARDERSFIELD', 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL', 2000, 'SOUTHERN WINE & SPIRITS NE', '2016-03-01', 9.26, 8, 74.08)

In [ ]:
print("Creating 2NF tables...")

Creating 2NF tables...

In [ ]:
cur.executescript("""
-- Drop if exist
DROP TABLE IF EXISTS Fact_2NF;
DROP TABLE IF EXISTS Stores_2NF;
DROP TABLE IF EXISTS Vendors_2NF;
DROP TABLE IF EXISTS Products_2NF;
DROP TABLE IF EXISTS Cities_2NF;

-- Cities
CREATE TABLE Cities_2NF (
    CityId    INTEGER PRIMARY KEY AUTOINCREMENT,
    CityName  TEXT NOT NULL UNIQUE
);

INSERT INTO Cities_2NF (CityName)
SELECT DISTINCT City
FROM T_1NF
WHERE City IS NOT NULL;

-- Stores
CREATE TABLE Stores_2NF (
    StoreId  INTEGER PRIMARY KEY,
    CityId   INTEGER,
    FOREIGN KEY (CityId) REFERENCES Cities_2NF(CityId)
);

INSERT INTO Stores_2NF (StoreId, CityId)
SELECT DISTINCT
    t.Store,
    c.CityId
FROM T_1NF t
INNER JOIN Cities_2NF c  -- Changed to INNER JOIN to ensure valid CityId
    ON c.CityName = t.City
WHERE t.Store IS NOT NULL;

-- Vendors
CREATE TABLE Vendors_2NF (
    VendorNumber  INTEGER PRIMARY KEY,
    VendorName    TEXT NOT NULL
);

INSERT INTO Vendors_2NF (VendorNumber, VendorName)
SELECT
    VendorNumber,
    MIN(VendorName) -- Use MIN (or MAX) to pick one VendorName for each unique VendorNumber
FROM T_1NF
WHERE VendorNumber IS NOT NULL
GROUP BY VendorNumber;

-- Products
CREATE TABLE Products_2NF (
    ProductId    INTEGER PRIMARY KEY AUTOINCREMENT,
    Brand        INTEGER NOT NULL,
    ProductName  TEXT NOT NULL,
    Size         TEXT NOT NULL
);

INSERT INTO Products_2NF (Brand, ProductName, Size)
SELECT DISTINCT
    Brand,
    ProductName,
    Size
FROM T_1NF
WHERE Brand IS NOT NULL;

-- Fact_2NF:
-- Remove attributes that depend only on parts of the composite key
-- (City, VendorName, ProductName, Size).
CREATE TABLE Fact_2NF (
    Store          INTEGER,
    VendorNumber   INTEGER,
    InvoiceDate    DATE,
    Brand          INTEGER,
    InventoryId    TEXT,
    PurchasePrice  NUMERIC,
    Quantity       INTEGER,
    Price          NUMERIC
);

INSERT INTO Fact_2NF (
    Store, VendorNumber, InvoiceDate,
    Brand, InventoryId, PurchasePrice, Quantity, Price
)
SELECT
    Store,
    VendorNumber,
    InvoiceDate,
    Brand,
    InventoryId,
    PurchasePrice,
    Quantity,
    Price
FROM T_1NF;
"""
)
conn.commit()
print("2NF tables created and populated.")

2NF tables created and populated.

In [ ]:
print("First 5 rows of Cities_2NF:")
cur.execute("SELECT * FROM Cities_2NF LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of Stores_2NF:")
cur.execute("SELECT * FROM Stores_2NF LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of Vendors_2NF:")
cur.execute("SELECT * FROM Vendors_2NF LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of Products_2NF:")
cur.execute("SELECT * FROM Products_2NF LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of Fact_2NF:")
cur.execute("SELECT * FROM Fact_2NF LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

First 5 rows of Cities_2NF:
['CityId', 'CityName']
(1, 'HARDERSFIELD')
(2, 'HORNSEY')
(3, 'CARDEND')
(4, 'LEESIDE')
(5, 'TARMSWORTH')

First 5 rows of Stores_2NF:
['StoreId', 'CityId']
(1, 1)
(2, 12)
(3, 2)
(4, 30)
(5, 40)

First 5 rows of Vendors_2NF:
['VendorNumber', 'VendorName']
(2, 'IRA GOLDMAN AND WILLIAMS, LLP')
(60, 'ADAMBA IMPORTS INTL INC')
(105, 'ALTAMAR BRANDS LLC')
(287, 'APPOLO VINEYARDS LLC')
(388, 'ATLANTIC IMPORTING COMPANY')

First 5 rows of Products_2NF:
['ProductId', 'Brand', 'ProductName', 'Size']
(1, 10021, 'Clayhouse Syrah Paso Robles', '750mL')
(2, 10030, 'Pacifico Sur Pnt Nr Rsv', '750mL')
(3, 1005, "Maker's Mark Combo Pack", '375mL 2 Pk')
(4, 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL')
(5, 10062, 'Terroirs du Rhone', '750mL')

First 5 rows of Fact_2NF:
['Store', 'VendorNumber', 'InvoiceDate', 'Brand', 'InventoryId', 'PurchasePrice', 'Quantity', 'Price']
(1, 4425, '2016-05-29', 10021, '1_HARDERSFIELD_10021', 7.89, 12, 94.68)
(1, 90017, '2016-02-16', 10030, '1_HARDERSFIELD_10030', 5.19, 12, 62.28)
(1, 12546, '2016-01-06', 1005, '1_HARDERSFIELD_1005', 27.34, 6, 164.04)
(1, 2000, '2016-01-05', 10058, '1_HARDERSFIELD_10058', 9.26, 12, 111.12)
(1, 2000, '2016-02-02', 10058, '1_HARDERSFIELD_10058', 9.26, 12, 111.12)

In [ ]:
print("Creating 3NF fact table...")

Creating 3NF fact table...

In [ ]:
cur.executescript("""
DROP TABLE IF EXISTS Fact_3NF;

CREATE TABLE Fact_3NF (
    Store          INTEGER,
    VendorNumber   INTEGER,
    InvoiceDate    DATE,
    ProductId      INTEGER, -- Changed from Brand to ProductId as FK
    InventoryId    TEXT,
    PurchasePrice  NUMERIC,
    Quantity       INTEGER,
    FOREIGN KEY (ProductId) REFERENCES Products_2NF(ProductId)
);

INSERT INTO Fact_3NF (
    Store, VendorNumber, InvoiceDate,
    ProductId, InventoryId, PurchasePrice, Quantity
)
SELECT
    t.Store,
    t.VendorNumber,
    t.InvoiceDate,
    p.ProductId, -- Get ProductId by joining T_1NF with Products_2NF
    t.InventoryId,
    t.PurchasePrice,
    t.Quantity
FROM T_1NF t
JOIN Products_2NF p
    ON t.Brand = p.Brand
   AND t.ProductName = p.ProductName
   AND t.Size = p.Size; -- Using composite key to uniquely identify product
""")
conn.commit()
print("Fact_3NF created (with ProductId and Price removed as derived attribute).")

Fact_3NF created (with ProductId and Price removed as derived attribute).

In [ ]:
print("Creating 4NF/5NF tables (Invoices, InvoiceLines, final dimensions)...")

Creating 4NF/5NF tables (Invoices, InvoiceLines, final dimensions)...

In [ ]:
cur.executescript("""
-- Final dimension tables (copy 2NF ones to "final" names)
-- Drop in reverse order of dependency to avoid foreign key constraint errors
DROP TABLE IF EXISTS InvoiceLines;
DROP TABLE IF EXISTS Invoices;
DROP TABLE IF EXISTS Stores;
DROP TABLE IF EXISTS Vendors;
DROP TABLE IF EXISTS Products;
DROP TABLE IF EXISTS Cities;

CREATE TABLE Cities (
    CityId    INTEGER PRIMARY KEY,
    CityName  TEXT NOT NULL UNIQUE
);

INSERT INTO Cities (CityId, CityName)
SELECT CityId, CityName
FROM Cities_2NF;

CREATE TABLE Stores (
    StoreId  INTEGER PRIMARY KEY,
    CityId   INTEGER,
    FOREIGN KEY (CityId) REFERENCES Cities(CityId)
);

INSERT INTO Stores (StoreId, CityId)
SELECT StoreId, CityId
FROM Stores_2NF;

CREATE TABLE Vendors (
    VendorNumber  INTEGER PRIMARY KEY,
    VendorName    TEXT NOT NULL
);

INSERT INTO Vendors (VendorNumber, VendorName)
SELECT VendorNumber, VendorName
FROM Vendors_2NF;

CREATE TABLE Products (
    ProductId    INTEGER PRIMARY KEY,
    Brand        INTEGER NOT NULL,
    ProductName  TEXT NOT NULL,
    Size         TEXT NOT NULL
);

INSERT INTO Products (ProductId, Brand, ProductName, Size)
SELECT ProductId, Brand, ProductName, Size
FROM Products_2NF;

-- Invoices (header)
CREATE TABLE Invoices (
    InvoiceId     INTEGER PRIMARY KEY AUTOINCREMENT,
    StoreId       INTEGER NOT NULL,
    VendorNumber  INTEGER NOT NULL,
    InvoiceDate   DATE NOT NULL,
    UNIQUE (StoreId, VendorNumber, InvoiceDate),
    FOREIGN KEY (StoreId)      REFERENCES Stores(StoreId),
    FOREIGN KEY (VendorNumber) REFERENCES Vendors(VendorNumber)
);

INSERT INTO Invoices (StoreId, VendorNumber, InvoiceDate)
SELECT DISTINCT
    Store,
    VendorNumber,
    InvoiceDate
FROM Fact_3NF
WHERE Store IS NOT NULL
  AND VendorNumber IS NOT NULL
  AND InvoiceDate IS NOT NULL;

-- InvoiceLines (detail)
CREATE TABLE InvoiceLines (
    InvoiceLineId  INTEGER PRIMARY KEY AUTOINCREMENT,
    InvoiceId      INTEGER NOT NULL,
    ProductId      INTEGER NOT NULL,
    InventoryId    TEXT,
    PurchasePrice  NUMERIC NOT NULL,
    Quantity       INTEGER NOT NULL,
    LineTotal      NUMERIC NOT NULL,
    FOREIGN KEY (InvoiceId) REFERENCES Invoices(InvoiceId),
    FOREIGN KEY (ProductId) REFERENCES Products(ProductId)
);

-- LineTotal is recomputed here as PurchasePrice * Quantity,
-- which is the normalized way (Price is derived).
INSERT INTO InvoiceLines (
    InvoiceId,
    ProductId,
    InventoryId,
    PurchasePrice,
    Quantity,
    LineTotal
)
SELECT
    i.InvoiceId,
    f.ProductId, -- Select ProductId directly from Fact_3NF
    f.InventoryId,
    f.PurchasePrice,
    f.Quantity,
    f.PurchasePrice * f.Quantity AS LineTotal
FROM Fact_3NF f
JOIN Invoices i
      ON i.StoreId      = f.Store
     AND i.VendorNumber = f.VendorNumber
     AND i.InvoiceDate  = f.InvoiceDate;
"""
)
conn.commit()
print("Final 4NF/5NF tables created and populated.")

Final 4NF/5NF tables created and populated.

In [ ]:
print("Creating helpful indexes...")

Creating helpful indexes...

In [ ]:
cur.executescript("""
CREATE INDEX IF NOT EXISTS idx_invoices_store_vendor_date
ON Invoices (StoreId, VendorNumber, InvoiceDate);

CREATE INDEX IF NOT EXISTS idx_invoicelines_invoice
ON InvoiceLines (InvoiceId);

CREATE INDEX IF NOT EXISTS idx_invoicelines_product
ON InvoiceLines (ProductId);
""")
conn.commit()

In [ ]:
print("First 5 rows of Cities:")
cur.execute("SELECT * FROM Cities LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of Stores:")
cur.execute("SELECT * FROM Stores LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of Vendors:")
cur.execute("SELECT * FROM Vendors LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of Products:")
cur.execute("SELECT * FROM Products LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of Invoices:")
cur.execute("SELECT * FROM Invoices LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

print("\nFirst 5 rows of InvoiceLines:")
cur.execute("SELECT * FROM InvoiceLines LIMIT 5;")
column_names = [description[0] for description in cur.description]
print(column_names)
for row in cur.fetchall():
    print(row)

First 5 rows of Cities:
['CityId', 'CityName']
(1, 'HARDERSFIELD')
(2, 'HORNSEY')
(3, 'CARDEND')
(4, 'LEESIDE')
(5, 'TARMSWORTH')

First 5 rows of Stores:
['StoreId', 'CityId']
(1, 1)
(2, 12)
(3, 2)
(4, 30)
(5, 40)

First 5 rows of Vendors:
['VendorNumber', 'VendorName']
(2, 'IRA GOLDMAN AND WILLIAMS, LLP')
(60, 'ADAMBA IMPORTS INTL INC')
(105, 'ALTAMAR BRANDS LLC')
(287, 'APPOLO VINEYARDS LLC')
(388, 'ATLANTIC IMPORTING COMPANY')

First 5 rows of Products:
['ProductId', 'Brand', 'ProductName', 'Size']
(1, 10021, 'Clayhouse Syrah Paso Robles', '750mL')
(2, 10030, 'Pacifico Sur Pnt Nr Rsv', '750mL')
(3, 1005, "Maker's Mark Combo Pack", '375mL 2 Pk')
(4, 10058, 'F Coppola Dmd Ivry Cab Svgn', '750mL')
(5, 10062, 'Terroirs du Rhone', '750mL')

First 5 rows of Invoices:
['InvoiceId', 'StoreId', 'VendorNumber', 'InvoiceDate']
(1, 1, 4425, '2016-05-29')
(2, 1, 90017, '2016-02-16')
(3, 1, 12546, '2016-01-06')
(4, 1, 2000, '2016-01-05')
(5, 1, 2000, '2016-02-02')

First 5 rows of InvoiceLines:
['InvoiceLineId', 'InvoiceId', 'ProductId', 'InventoryId', 'PurchasePrice', 'Quantity', 'LineTotal']
(1, 1, 1, '1_HARDERSFIELD_10021', 7.89, 12, 94.67999999999999)
(2, 2, 2, '1_HARDERSFIELD_10030', 5.19, 12, 62.28)
(3, 3, 3, '1_HARDERSFIELD_1005', 27.34, 6, 164.04)
(4, 4, 4, '1_HARDERSFIELD_10058', 9.26, 12, 111.12)
(5, 5, 4, '1_HARDERSFIELD_10058', 9.26, 12, 111.12)

In [ ]:
from inventory_crud import InventoryCRUD

In [ ]:
DB_PATH = "inventory.db"

In [ ]:
# UPDATE (purchase)
db = InventoryCRUD(DB_PATH)
db.update_purchase_log(
    store=1,
    city="HARDERSFIELD",
    product_name="Clayhouse Syrah Paso Robles",
    size="750mL",
    vendor_name="MARTIGNETTI COMPANIES", # Must match the vendor name used in create_purchase_log
    invoice_date="2016-06-01",
    new_quantity=50,
)

db.close()

ValueError: No matching purchase log found for the given data.

In [ ]:
# READ
rows = db.read_inventory_logs(store=1)
for r in rows:
    print(dict(r))